<ion-list mode="ios" *ngIf="elements.length > 1">
    
  <ion-item class="animateIn" *ngFor="let explore of elements|slice:start:end" (click)="navigateTo(explore.list_name_encoded)" detail>
    <ion-icon slot="start" color='danger' name="ellipse-outline"></ion-icon>
    
    <ion-label>{{ explore.display_name }} <p>update {{ explore.updated }}</p></ion-label>
  </ion-item>

</ion-list>

<app-skeletonexplore *ngIf="elements.length < 1"></app-skeletonexplore>

<ion-infinite-scroll color="tertiary" threshold="130px" (ionInfinite)="more($event)">
  <ion-infinite-scroll-content color="tertiary"></ion-infinite-scroll-content>
</ion-infinite-scroll>