 
<ion-content>


  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="books">
        <ion-icon color="tertiary" name="book-outline"></ion-icon>
        <ion-label>Books</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon color="tertiary" name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="explore">
        <ion-icon color="tertiary" name="grid-outline"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>

     
    </ion-tab-bar>
  </ion-tabs>
</ion-content>